.cont-flex {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-bottom: 2rem;
}

.project-inf {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project__img-cont {
    flex-basis: 55%;
    height: max-content;
    position: relative;

    a {
        position: relative;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(63, 61, 61, 0.181);
            opacity: 0;
            transition: 200ms ease-in;

        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }



    img {
        width: 100%;
        object-fit: cover;
        background-position: center;
        z-index: 1;

    }
}

@media (max-width:768px) {
    .cont-flex {
        flex-wrap: wrap;
    }

    .project-inf {
        flex-basis: 100%;

    }

    .project__img-cont {
        flex-basis: 100%;

    }
}