@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.App {
    width: 100%;
    max-width: 100%;
    position: relative;

}